<!DOCTYPE html>
<html ng-app>
<head>
	<title>Module 2</title>
</head>
<body>
	<h3>Using Directives and Data Binding Syntax</h3>
	<div class="container">
		Name: <br><input type="text" ng-model="name" /> {{name}}
	</div>

	<div class="container"
		ng-init="Nicknames=[{name:'Jimboy',hobby:'Singing'},{name:'Ron',hobby:'Studying'},{name:'Vonvon',hobby:'Texting'},{name:'Ypie',hobby:'Dancing'}]">


	<h3>Looping Using ng-repeat Directive // includes filter</h3>
	<ul>
		<li ng-repeat="info in Nicknames | filter:name | orderBy:'hobby'">{{info.name | uppercase}} - {{info.hobby}}</li>
	</ul>
	</div>

	<script src="../Angularjs-activity-examples/angular.min.js"></script>
</body>
</html>